{% extends 'base.html' %}

{% block content %}
<section class="blog-post-area">
    <div class="container">
        <div class="row">
            <div class="blog-post-area-style">
                <div class="col-md-12">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form action="" method="post">
                    {% csrf_token %}
                    {{form}}
                    {% block button %}
                    <button class="form_button" type="submit">Войти</button>
                    {% endblock button %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}